.top {
    padding-left: 50px;
}

.topbar {
    padding-left: 30px;
    padding-bottom: 30px;
}

.top-title {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-list {
    height: 20px;
    width: 600px;
    display: flex;
}

.content-item {
    font-size: 15px;
    padding: 4px;
    color: #444444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}